$website-width: 1000px;

$main-color: #491d37;
$secondary-color: #EB4E70;
$third-color: #161130;
$dark-color: #1C262B;
$light-color: #E1E5F2;
$white: #fff;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Lato', sans-serif;
$tertiary-font: 'Alegreya Sans', sans-serif;