@import './config';

.container{
    max-width: $website-width;
    margin: auto;
}

input[type=text]{
    outline: none;
}

.py{
    &-05{
        padding: 0.5rem 0;
    }
    &-1{
        padding: 1rem 0;
    } 
    &-15{
        padding: 1.5rem 0;
    } 
    &-2{
        padding: 2rem 0;
    } 
    &-2{
        padding: 3rem 0;
    } 
}

.mx{
    &-05{
        margin: 0 0.5rem;
    }
    &-1{
        margin: 0 1rem;
    } 
    &-15{
        margin: 0 1.5rem;
    } 
    &-2{
        margin: 0 2rem;
    } 
    &-2{
        margin: 0 3rem;
    } 
}