@import '../../../styles/';

#discover-main{
    background-color: #131517;
    color: set-text-color(#131517);
    min-height: 100vh;

    .discover-title{
        margin-top: 1rem;
        font-size: 2.5rem;
        
        font-weight: 300;
    }

    .discover-form{
        text-align: center;
        margin-bottom: 4rem;


        >.auto-input-container{
            margin: 1rem;
            >.auto-input{
                background: #131517;
                color: set-text-color(#131517);
                border: none;
                border-bottom: 1px solid white;
                outline: none;
                padding: .5rem 0;
    
                &::placeholder{
                    color: #aaa;
                }
            }
        }

        >.form-comp{
            background: #131517;
            color: set-text-color(#131517);
            border: none;
            border-bottom: 1px solid white;
            outline: none;
            margin: 1rem;
            padding: .5rem 0;

            &::placeholder{
                color: #aaa;
            }
        }

    }



        
    .discover-grid{
        background: #222;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-between;
        gap: 2rem 0;
        padding: 2.5rem 1rem 1rem 1rem;

        >*{
            justify-self: center;
        }

        .moff{
            width: 8rem;
            height: 16rem;
            background-color: grey;
            justify-self: center;
        }
    }

    .discover-pages{
        background: #222;
        text-align: center;
        padding-bottom: 1rem;
    }
    
}