@import '../../../styles/';

#discover-main{
    background-color: #131517;
    color: set-text-color(#131517);
    height: 100vh;

    .discover-title{
        margin-top: 1rem;
        font-size: 2.5rem;
        letter-spacing: 1px;
        font-weight: 300;
    }
}