@import '../../../styles/';

#discover-main{
    background-color: #131517;
    color: set-text-color(#131517);
    height: 100vh;

    .discover-title{
        margin-top: 1rem;
        font-size: 2.5rem;
        
        font-weight: 300;
    }

    >.discover-form{
        text-align: center;

        >.form-comp{
            background: #131517;
            color: set-text-color(#131517);
            border: none;
            border-bottom: 1px solid white;
            outline: none;
            margin: 1rem;
            padding: .5rem 0;

            &::placeholder{
                color: #aaa;
            }
        }

        >.submit{
            width: 6rem;
            background: $secondary-color;
            color: white;
            
            border: 1px double $secondary-color;
            border-radius: 2px;
            

        }
    }
}